* {
    color: white;
}

header {
    background-color: rgb(200, 247, 255);
    width: 102%;
    margin-left: -8px;
}

#az-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

#moon {
    position: absolute;
    width: 6%;
    background-color: rgb(7, 7, 88);
    border-radius: 50%;
    transform: translate(82rem, -10rem);
}

#top-nav {
    background-color: rgb(7, 7, 88);
}

#top-nav ul {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: auto;
    width: 90%;
}

#top-nav li {
    margin-right: 150px;
    width: 100px;
    font-size: 18px;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#top-nav a {
    color: rgb(255, 255, 255);
}

nav {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    justify-content: center;
}

#dropdown-icon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin-left: 5%;
    margin-top: 100px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: rgb(54, 153, 146);
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

.border-line {
    width: 1450px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 10px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

.border-line2 {
    width: 1450px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

video {
    position: absolute;
    transform: translate(50rem, 4rem);
    border-radius: 5rem;
}

.bottom-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 750px;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

#bottom-nav-disc li:first-child {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(7, 7, 88);
}

#bottom-nav-work li:first-child {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(7, 7, 88);
}

#bottom-nav-live li:first-child {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(7, 7, 88);
}

#bottom-nav-gov li:first-child {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(7, 7, 88);
}

.bottom-nav-left li {
    font-size: 18px;
    color: rgb(7, 7, 88);
}

.bottom-nav-left li svg {
    translate: 0 35px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    stroke: rgb(7, 7, 88);
}

.bottom-nav-left li div {
    color: rgb(7, 7, 88);
}

.bottom-nav-right p {
    font-size: 12px;
    margin-left: 50px;
    margin-top: 2px;
    color: rgb(7, 7, 88);
}

.bottom-nav-right li {
    font-size: 18px;
    color: rgb(7, 7, 88);
}

.bottom-nav-right li svg {
    translate: 0 35px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    stroke: rgb(7, 7, 88);
}

.bottom-nav-right li div {
    color: rgb(7, 7, 88);
}

.bottom-nav-left p {
    font-size: 12px;
    margin-left: 50px;
    margin-top: 2px;;
    color: rgb(7, 7, 88);
}

.home-pic {
    width: 102.5%;
    margin-top: -20px;
    margin-left: -8px;
    color: rgb(7, 7, 88);
}

.fst-pic {
    width: 102%;
}

.last-pic {
    width: 102.1%;
    margin-left: -10px;
}

#discover-h2 {
    font-size: 96px;
    position: absolute;
    transform: translate(60rem, -20rem);
    background: rgba(7, 7, 90, 0.6);
    padding-right: 3.63%;
    padding-left: 50px;
    border-radius: 1.5rem 0 0 1.5rem;
    font-family: "eigerdals", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#work-h2 {
    font-size: 96px;
    position: absolute;
    transform: translate(-8px, -40rem);
    background: rgba(7, 7, 88, 0.6);
    padding-right: 75px;
    padding-left: 50px;
    border-radius: 0 1.5rem 1.5rem 0;
    font-family: "eigerdals", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#live-h2 {
    font-size: 96px;
    position: absolute;
    transform: translate(-8px, -20rem);
    background: rgba(7, 7, 88, 0.6);
    padding-right: 75px;
    padding-left: 50px;
    border-radius: 0 1.5rem 1.5rem 0;
    font-family: "eigerdals", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#government-h2 {
    font-size: 96px;
    position: absolute;
    transform: translate(50rem, -42rem);
    background-color: rgba(7, 7, 88, 0.6);
    padding-right: 2.55%;
    padding-left: 50px;
    border-radius: 1.5rem 0 0 1.5rem;
    font-family: "eigerdals", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#discover {
    background-color: rgb(200, 247, 255);
    width: 100%;
    margin-left: -8px;
    padding-right: 2%;
}

#work {
    background-color: rgb(200, 247, 255);
    width: 100%;
    margin-left: -8px;
    padding-right: 2%;
}

#live {
    background-color: rgb(200, 247, 255);
    width: 100%;
    margin-left: -8px;
    padding-right: 2%;
}

#gov-div {
    background-color: rgb(200, 247, 255);
    width: 100%;
    padding-top: 2%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    margin-left: -1%;
    margin-top: -10px;
}

#discover-opt h3 {
    position: absolute;
    font-size: 46px;
    width: 450px;
    height: 70px;
    border-radius: 20px;
    transform: translate(0, -8.1rem);
    background-color: rgba(7, 7, 88, 0.6);
    padding-top: 10px;
    padding-left: 50px;
    margin-right: 0px;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#work-opt h3 {
    position: absolute;
    font-size: 46px;
    width: 450px;
    height: 70px;
    border-radius: 20px;
    transform: translate(0, -8.1rem);
    background-color: rgba(67, 7, 88, 0.6);
    padding-top: 10px;
    padding-left: 50px;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#live-opt h3 {
    position: absolute;
    font-size: 46px;
    width: 450px;
    height: 70px;
    border-radius: 20px;
    transform: translate(0, -8.1rem);
    background-color: rgba(7, 7, 88, 0.6);
    padding-top: 10px;
    padding-left: 50px;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#discover-opt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10.5%;
    margin-top: 5%;
    padding-bottom: 7.5%;
}

#work-opt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10.5%;
    margin-top: 5%;
    padding-bottom: 7.5%;
}

#live-opt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10.5%;
    margin-top: 5%;
    padding-bottom: 7.5%;
}

#discover-opt img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 15px 15px 5px grey;
}

#work-opt img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 15px 15px 5px grey;
}

#live-opt img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 15px 15px 5px grey;
}

#gov-div h3 {
    width: 50%;
    background-color: rgb(54, 153, 146);
    margin-top: 20px;
    padding: 5px;
    border: 0.2rem solid;
    border-color: black;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    margin-left: 25%;
}

footer {
    background-color: rgb(54, 153, 146);
    margin-top: -20px;
    margin-left: -1.5%;
    margin-right: -1.5%;
    margin-bottom: -1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer h2 {
    text-align: center;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
}

footer label, input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer label {
    transform: translate(-17.5%, 0);
    margin-bottom: 5px;
    font-size: 20px;
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: bold;
}

footer input {
    width: 50%;
    height: 30px;
    border-radius: 0.75rem;
    margin-bottom: 10px;
    font-family: "komet", sans-serif;
    font-weight: 300;
    font-style: normal;
}

footer fieldset {
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 33%;
    margin-right: 35%;
}

footer fieldset label {
    transform: translate(-20%, -150%);
}

#submit {
    background-color: rgb(200, 247, 255);
    color: rgb(7, 7, 88);
    height: 40px;
}

.required {
    color: red;
    font-size: 18px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 320px){
    #az-logo {
        width: 40%;
    }
}